# List Comprehensions

#### Method 01

In [1]:
myString = 'Hello World'

In [2]:
myList = []

for letter in myString:
    myList.append(letter)

In [3]:
myList

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

#### Method 02

In [4]:
myList = [letter for letter in myString]

In [5]:
myList

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

##### Example 02

In [8]:
myList = [num for num in range(1,11)]

In [9]:
myList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
num = int(input("Input no to print its table: "))

myList = [num*x for x in range(1,11)]
myList

Input no to print its table: 4

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [15]:
num = int(input("Input no to print its table: "))
[x*num for x in range(1,11)]

Input no to print its table: 9

[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

##### Example 03 - Square

In [23]:
from random import randrange, randint

In [24]:
[num*num for num in list(range(1,randrange(1,20)))]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###### Example 04 - Even numbers in Range

In [27]:
[num for num in range(1,20) if num%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [30]:
[num**2 for num in range(1,20) if num%2==0]

[4, 16, 36, 64, 100, 144, 196, 256, 324]

###### Example 05 - List Comprehension with If/Else

In [32]:
[num if num%2==0 else 'Odd' for num in range(1,11)]

['Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd', 10]

###### Example 06 - List Comprehension with Nested loop

In [36]:
myList = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        myList.append(x*y)
        
myList

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [35]:
[x*y for x in [2,4,6] for y in [1,10,1000]]

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]