# Pandas DataFrame

### Tutorials
https://www.datacamp.com/tutorial/pandas-tutorial-dataframe-python

### Docs
https://pandas.pydata.org/docs/reference/frame.html

In [89]:
import pandas as pd
 
# intialise data of lists.
data = {'sql_instance':['srv01', 'srv01', 'srv01', 'srv02'],
        'disk_volume':['c:\\', 'd:\\', 'e:\\', 'd:\\'],
        'used_pct':[75.68, 77.34, 85.74, 90.21],
        'state': ['Warning', 'Warning', 'Critical', 'Critical']
       }
 
# Create DataFrame
df = pd.DataFrame(data)
#df.style.set_caption("[Alert-DiskSpace] - 2 Warning - 2 Critical")
df.style.set_caption("Some Caption").set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'red'),
        ('font-size', '16px')
    ]
}])
# Print the output.
print(df)

  sql_instance disk_volume  used_pct     state
0        srv01         c:\     75.68   Warning
1        srv01         d:\     77.34   Warning
2        srv01         e:\     85.74  Critical
3        srv02         d:\     90.21  Critical

In [14]:
df.iloc[3]

sql_instance       srv02
disk_volume          d:\
used_pct           90.21
state           Critical
Name: 3, dtype: object

In [18]:
# Iterating over rows and columns 
for col_name, col_value in df.iterrows():
    print(col_name, col_value)
    print()

0 sql_instance      srv01
disk_volume         c:\
used_pct          75.68
state           Warning
Name: 0, dtype: object

1 sql_instance      srv01
disk_volume         d:\
used_pct          77.34
state           Warning
Name: 1, dtype: object

2 sql_instance       srv01
disk_volume          e:\
used_pct           85.74
state           Critical
Name: 2, dtype: object

3 sql_instance       srv02
disk_volume          d:\
used_pct           90.21
state           Critical
Name: 3, dtype: object

In [22]:
# Iterating over Columns 
columns = list(df)

for c in columns:
    print(c)

print ('***********************')

# get all columns for row index 2
for col in columns:
    print(df[col][2])

sql_instance
disk_volume
used_pct
state
***********************
srv01
e:\
85.74
Critical

In [29]:
[col for col in df.columns]
#list(df)

['sql_instance', 'disk_volume', 'used_pct', 'state']

In [49]:
# Query data
df.query('sql_instance == "srv01" and state == "Critical"')

  sql_instance disk_volume  used_pct     state
2        srv01         e:\     85.74  Critical

In [66]:
# Filter data
df.where( (df['sql_instance']=='srv01') & (df['state']=='Critical') ).dropna()

  sql_instance disk_volume  used_pct     state
2        srv01         e:\     85.74  Critical

In [65]:
# Filter data
rows_filtered = df.where( (df['sql_instance']=='srv01') & (df['state']=='Critical') ).dropna()

row_count = len(rows_filtered)
print(f"row_count = {row_count}")
if row_count > 0:
    for row in rows_filtered.iterrows():
        print(row)
else:
    print('No rows found.')

row_count = 1
(2, sql_instance       srv01
disk_volume          e:\
used_pct           85.74
state           Critical
Name: 2, dtype: object)

In [82]:
df['state'] == 'Critical'

0    False
1    False
2     True
3     True
Name: state, dtype: bool

In [83]:
df.state

0     Warning
1     Warning
2    Critical
3    Critical
Name: state, dtype: object