# Import Excel Data Using Pandas
[pandas.read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html#)

In [2]:
import pandas as pd
import pyodbc

## Load the Excel file into a Pandas DataFrame

In [33]:
# Step 1: Read the Excel File
excel_file_path = "/home/saanvi/Downloads/Dapo/IMDB-Movie-Database.xlsx"
sheet_name1 = "Sheet1"
sheet_name2 = "Sheet2"

### Get 10 rows and first 4 columns with custom name for columns

In [34]:
# Get 10 rows and first 4 columns with custom name for columns
all_col_names = ['title','release_date','color_bnw','genre','language']
df = pd.read_excel(excel_file_path, sheet_name1, nrows=10, usecols="A:D", names=all_col_names)

# Print the first few rows to verify the data
print("Data Preview:")
print(df.head())

Data Preview:
                            title release_date        color_bnw    genre
0  Over the Hill to the Poorhouse   1920-09-15  Black and White    Crime
1                      Metropolis   1927-01-26  Black and White    Drama
2             The Broadway Melody   1929-11-11  Black and White  Musical
3                     42nd Street   1933-08-29  Black and White   Comedy
4                         Top Hat   1935-04-15  Black and White   Comedy

# Get 10 rows with customer columns names present in row_id = 0

In [36]:
# Get 10 rows and first 4 columns
# Custom column names present in row_id 1
df = pd.read_excel(excel_file_path, sheet_name2, nrows=10, usecols="A:D", skiprows=1)

# Print the first few rows to verify the data
print("Data Preview:")
print(df.head())

Data Preview:
                            title release_date        color_bnw    genre
0  Over the Hill to the Poorhouse   1920-09-15  Black and White    Crime
1                      Metropolis   1927-01-26  Black and White    Drama
2             The Broadway Melody   1929-11-11  Black and White  Musical
3                     42nd Street   1933-08-29  Black and White   Comedy
4                         Top Hat   1935-04-15  Black and White   Comedy

### Read data in batches

In [55]:
counter = 1
batch_size = 10
total_rows = 3727
has_custom_header = True

# Use range to increment by batch_size
while counter <= total_rows:
    print(f"\ncounter: {counter}")

    # main logic
    
    df = pd.read_excel(excel_file_path, sheet_name2, usecols="A:D", skiprows=counter, nrows=batch_size)
    print("Data Preview:")
    print(df.head(batch_size))

    counter = counter + batch_size
    if counter > 30:
        break;

counter: 1
Data Preview:
   row_id                            title release_date        color_bnw
0       1   Over the Hill to the Poorhouse   1920-09-15  Black and White
1       2                       Metropolis   1927-01-26  Black and White
2       3              The Broadway Melody   1929-11-11  Black and White
3       4                      42nd Street   1933-08-29  Black and White
4       5                          Top Hat   1935-04-15  Black and White
5       6                     Modern Times   1936-10-07  Black and White
6       7  Snow White and the Seven Dwarfs   1937-02-02            Color
7       8               Gone with the Wind   1939-11-12            Color
8       9                 The Wizard of Oz   1939-04-09  Black and White
9      10                         Fantasia   1940-05-18            Color

counter: 11
Data Preview:
   10                       Fantasia 1940-05-18 00:00:00            Color
0  11                      Pinocchio          1940-10-12            Color
1  12                Duel in the Sun          1946-06-07            Color
2  13    The Best Years of Our Lives          1946-04-26  Black and White
3  14         The Lady from Shanghai          1947-12-07  Black and White
4  15                     The Pirate          1948-04-07            Color
5  16             Annie Get Your Gun          1950-04-02            Color
6  17     The Greatest Show on Earth          1952-10-23            Color
7  18  The Beast from 20,000 Fathoms          1953-08-22  Black and White
8  19                       The Robe          1953-05-15            Color
9  20              On the Waterfront          1954-10-29  Black and White

counter: 21
Data Preview:
   20                On the Waterfront 1954-10-29 00:00:00  Black and White
0  21                    Seven Samurai          1954-07-02  Black and White
1  22     The Bridge on the River Kwai          1957-09-24            Color
2  23                 Some Like It Hot          1959-02-23  Black and White
3  24                           Psycho          1960-11-04  Black and White
4  25                  West Side Story          1961-05-03            Color
5  26                           Dr. No          1962-11-27            Color
6  27               Lawrence of Arabia          1962-10-11            Color
7  28                        Cleopatra          1963-12-14            Color
8  29            From Russia with Love          1963-11-24            Color
9  30  It's a Mad, Mad, Mad, Mad World          1963-11-27            Color

# Read large Excel file & divide data into multiple sheets
https://sparkbyexamples.com/pandas/pandas-write-to-excel-with-examples/

In [63]:
import pandas as pd
import pyodbc

excel_file_path = "/home/saanvi/Downloads/Dapo/IMDB-Movie-Database.xlsx"
sheet_name = "Sheet2"

# Get all data from excel sheet
df = pd.read_excel(excel_file_path, sheet_name, na_filter=False)

# Output the number of rows
print("Total rows: {0}".format(len(df)))

print("Data Preview:")
print(df.head())

# Write back to an Excel
excel_file_new = "/home/saanvi/Downloads/Dapo/IMDB-Movie-Database-Batches.xlsx"
with pd.ExcelWriter(excel_file_new) as writer:  
    df.iloc[:1000].to_excel(writer, index=False, sheet_name='row_1_to_1k')  
    df.iloc[1000:2000].to_excel(writer, index=False, sheet_name='row_1k_to_2k')  
    df.iloc[2000:3000].to_excel(writer, index=False, sheet_name='row_2k_to_3k')  
    df.iloc[3000:4000].to_excel(writer, index=False, sheet_name='row_3k_to_4k')

Total rows: 3725
Data Preview:
   row_id                           title release_date        color_bnw  \
0       1  Over the Hill to the Poorhouse   1920-09-15  Black and White
1       2                      Metropolis   1927-01-26  Black and White
2       3             The Broadway Melody   1929-11-11  Black and White
3       4                     42nd Street   1933-08-29  Black and White
4       5                         Top Hat   1935-04-15  Black and White

     genre language  country     rating     lead_actor      director_name  \
0    Crime  English      USA  Not Rated   Stephen Carr  Harry F. Millarde
1    Drama   German  Germany  Not Rated  Brigitte Helm         Fritz Lang
2  Musical  English      USA     Passed     Anita Page     Harry Beaumont
3   Comedy  English      USA    Unrated  Ginger Rogers        Lloyd Bacon
4   Comedy  English      USA   Approved  Ginger Rogers      Mark Sandrich

  lead_actor_fb_likes  cast_fb_likes  director_fb_likes  movie_fb_likes  \
0                   2              4                  0               0
1                 136            203                756           12000
2                  77            109                  4             167
3                 610            995                 24             439
4                 610            824                 10            1000

   imdb_score total_reviews duration_min  gross_revenue   budget
0         4.8             1          110        3000000   100000
1         8.3           260          145          26435  6000000
2         6.3            36          100        2808000   379000
3         7.7            65           89        2300000   439000
4         7.8            66           81        3000000   609000

In [65]:
import pandas as pd
import pyodbc

excel_file_path = "/home/saanvi/Downloads/Dapo/SlotInvoice_Ajay.xlsx"
sheet_name = "Data tab"

# Get all data from excel sheet
df = pd.read_excel(excel_file_path, sheet_name, na_filter=False)

total_rows = len(df)
batch_size = 30000

# Output the number of rows
print("Total rows: {0}".format(total_rows))

print("Data Preview:")
print(df.head())

# Write back to an Excel
excel_file_new = "/home/saanvi/Downloads/Dapo/SlotInvoice_Ajay-Batches.xlsx"
with pd.ExcelWriter(excel_file_new) as writer:  
    for start_row in range(0, total_rows, batch_size):
        end_row = min(start_row + batch_size, total_rows)
        sheet_name = f'row_{start_row + 1}_to_{end_row}'
        df.iloc[start_row:end_row].to_excel(writer, index=False, sheet_name=sheet_name)
    #df.iloc[:30000].to_excel(writer, index=False, sheet_name='row_1_to_30k')  
    #df.iloc[30000:60000].to_excel(writer, index=False, sheet_name='row_30k_to_60k')
    #df.iloc[60000:90000].to_excel(writer, index=False, sheet_name='row_60k_to_90k')

Total rows: 315538
Data Preview:
   row_id document_no posting_date  line_no sell_to_cusomter_no  \
0       1  SLPI000145   2024-01-01    10000              C01461
1       2  SLPI000145   2024-01-01    20000              C01461
2       3  SLPI000145   2024-01-01    30000              C01461
3       4  SLPI000145   2024-01-01    40000              C01461
4       5  SLPI000145   2024-01-01    50000              C01461

  bill_to_customer_no           customer_name    customer_no  \
0              C01461  Quil Ceda Creek Casino  FFLFG-N-OU49C
1              C01461  Quil Ceda Creek Casino  FFLFG-N-OU49C
2              C01461  Quil Ceda Creek Casino  FFLFG-N-OU49C
3              C01461  Quil Ceda Creek Casino  FFLFG-N-OU49C
4              C01461  Quil Ceda Creek Casino  FFLFG-N-OU49C

                                         description months  ...  \
0  136728, FF Lease-ORION UPRIGHT 49 CURVE, for P...     12  ...
1  136729, FF Lease-ORION UPRIGHT 49 CURVE, for P...     12  ...
2  136730, FF Lease-ORION UPRIGHT 49 CURVE, for P...     12  ...
3  136731, FF Lease-ORION UPRIGHT 49 CURVE, for P...     12  ...
4  136732, FF Lease-ORION UPRIGHT 49 CURVE, for P...     12  ...

  currency_factor amount_usd  item_category_code gen_bus_posting_group  \
0             0.0        0.0               LEASE               REVENUE
1             0.0        0.0               LEASE               REVENUE
2             0.0        0.0               LEASE               REVENUE
3             0.0        0.0               LEASE               REVENUE
4             0.0        0.0               LEASE               REVENUE

  gen_prod_posting_group game_count2  product_code        group        name  \
0              REV-LEASE           0          1210  Single Unit  ReportData
1              REV-LEASE           0          1210  Single Unit  ReportData
2              REV-LEASE           0          1210  Single Unit  ReportData
3              REV-LEASE           0          1210  Single Unit  ReportData
4              REV-LEASE           0          1210  Single Unit  ReportData

  segment
0   Slots
1   Slots
2   Slots
3   Slots
4   Slots

[5 rows x 32 columns]