# range

In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [5]:
range(0,11,2)

range(0, 11, 2)

In [6]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

**range() function is a generator**

In [9]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

# Enumerate

Enumerate the list

In [11]:
word = 'Allahabad'

for item in enumerate(word):
    print(item)

(0, 'A')
(1, 'l')
(2, 'l')
(3, 'a')
(4, 'h')
(5, 'a')
(6, 'b')
(7, 'a')
(8, 'd')

In [12]:
word = 'Allahabad'

for i,l in enumerate(word):
    print(f"word[{i}] => {l}")

word[0] => A
word[1] => l
word[2] => l
word[3] => a
word[4] => h
word[5] => a
word[6] => b
word[7] => a
word[8] => d

# zip

In [14]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [15]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [16]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [17]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [18]:
for x,y,z in zip(mylist1, mylist2, mylist3):
    print(f"{x},{y},{z}")

1,a,100
2,b,200
3,c,300

# in operator

In [19]:
'x' in ['a',12,'x']

True

In [20]:
12 in ['a',12,'x']

True

In [21]:
'12' in ['a',12,'x']

False

In [22]:
'A' in 'Ajay Kumar Dwivedi'

True

In [23]:
'Name' in {'Name':'Ajay', 'Age':30, 'City':'Rewa'}

True

In [24]:
'Age' in {'Name':'Ajay', 'Age':30, 'City':'Rewa'}

True

In [28]:
person = {'Name':'Ajay', 'Age':30, 'City':'Rewa'}

In [27]:
'Age' in person.keys()

True

In [29]:
'Ajay' in person.values()

True

In [30]:
nums = [2,30,27]

In [31]:
min(nums)

2

In [32]:
max(nums)

30

# random library

In [33]:
from random import shuffle

In [34]:
mylist = [1,0,54,23,89,45]

In [35]:
shuffle(mylist)

In [36]:
mylist

[54, 45, 1, 89, 0, 23]

In [37]:
mylist = sorted(mylist)

In [38]:
mylist

[0, 1, 23, 45, 54, 89]

In [39]:
shuffle(mylist)

In [40]:
mylist

[54, 1, 45, 0, 89, 23]

In [41]:
from random import randint

In [43]:
randint(1,100)

97

# input

In [44]:
name = input("Enter your name: ")

Enter your name: Ajay

In [45]:
name

'Ajay'