# lambda arguments: expression

In [3]:
def add10_func(x):
    return x + 10

print(add10_func(5))

15

In [1]:
add10 = lambda x: x + 10
print(add10(5))

15

In [1]:
sqr = lambda x: x*x
print(sqr(10))

100

In [7]:
points2D = [(1,2), (15,1), (5,-1), (10,4)]
points2D_sorted = sorted(points2D)
points2D_sorted_y = sorted(points2D, key=lambda x:x[1])
points2D_sorted_sums = sorted(points2D, key=lambda x: x[0]+x[1])

print(points2D)
print(points2D_sorted)
print(points2D_sorted_y)
print(points2D_sorted_sums)

[(1, 2), (15, 1), (5, -1), (10, 4)]
[(1, 2), (5, -1), (10, 4), (15, 1)]
[(5, -1), (15, 1), (1, 2), (10, 4)]
[(1, 2), (5, -1), (10, 4), (15, 1)]

In [2]:
# Real World Example 01
persons = [{'name': 'Ajay', 'age':35}, {'name': 'Priti', 'age':32}, {'name': 'Anant', 'age':2}, {'name': 'Saanvi', 'age':5}]

persons_sorted_by_age = sorted(persons, key=lambda person: person['age'])

print(persons)
print(persons_sorted_by_age)

[{'name': 'Ajay', 'age': 35}, {'name': 'Priti', 'age': 32}, {'name': 'Anant', 'age': 2}, {'name': 'Saanvi', 'age': 5}]
[{'name': 'Anant', 'age': 2}, {'name': 'Saanvi', 'age': 5}, {'name': 'Priti', 'age': 32}, {'name': 'Ajay', 'age': 35}]

In [3]:
# Real World Example 02
persons = [('Ajay',35,'rewa'),('Priti',32,'Nagpur'),('Anant',2,'Hyd'),('Saanvi',5,'Nagpur')]

persons_sorted_by_age = sorted(persons, key=lambda person: person[1])

print(persons)
print(persons_sorted_by_age)

[('Ajay', 35, 'rewa'), ('Priti', 32, 'Nagpur'), ('Anant', 2, 'Hyd'), ('Saanvi', 5, 'Nagpur')]
[('Anant', 2, 'Hyd'), ('Saanvi', 5, 'Nagpur'), ('Priti', 32, 'Nagpur'), ('Ajay', 35, 'rewa')]

## List comprehension

In [11]:
a = [1,2,3,4,5,6]

evens = [x for x in a if x%2==0]

print(evens)

[2, 4, 6]

## map(func, seq)

In [9]:
a = [1,2,3,4,5]
b = map(lambda x: x*2, a)

print(a)
print(list(b))

c = [x*2 for x in a]
print(c)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

## filter(func, seq)

In [13]:
a = list(range(10))

evens = filter(lambda x: x%2==0, a)

print(a)
print(list(evens))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [8]:
# Real World Example 01
persons = [{'name': 'Ajay', 'age':35}, {'name': 'Priti', 'age':32}, {'name': 'Anant', 'age':2}, {'name': 'Saanvi', 'age':5}]

adults = filter(lambda person: person['age']>= 18, persons)
print(list(adults))

[{'name': 'Ajay', 'age': 35}, {'name': 'Priti', 'age': 32}]

## reduce (func, seq)

In [14]:
from functools import reduce
a = [1,2, 3, 4]

product_a = reduce(lambda x,y: x*y, a)
print(product_a)

24

In [14]:
# Real World Example 02
from functools import reduce
nums = [1,2,3,4,5,3]

max_of_nums = reduce(lambda x,y: x if x>=y else y, nums)

print(max_of_nums)

5

In [18]:
# Real World Example 03
persons = [{'name': 'Ajay', 'age':35}, {'name': 'Priti', 'age':32}, {'name': 'Anant', 'age':2}, {'name': 'Saanvi', 'age':5}]

senior = reduce(lambda m,p: m if m['age']>=p['age'] else p, persons)
print(f"Senior => {senior}")

junior = reduce(lambda m,p: m if m['age']<=p['age'] else p, persons)
print(f"Junior => {junior}")

Senior => {'name': 'Ajay', 'age': 35}
Junior => {'name': 'Anant', 'age': 2}