# Tuples

Tuple: ordered, immutable, allows duplicate elements

In [2]:
mytuple = ("Ajay", 32, "Hyderabad")
print(mytuple)

('Ajay', 32, 'Hyderabad')

In [3]:
print(mytuple[0])

Ajay

In [4]:
mytuple[0] = "Gaurav"

TypeError: 'tuple' object does not support item assignment

In [7]:
mytuple = ("Ajay")
print(mytuple)

mytuple = ("Ajay",)
print(mytuple)

Ajay
('Ajay',)

In [8]:
mytuple = ("Ajay", 32, "Hyderabad")
print(mytuple)

if "Ajay" in mytuple:
    print("Yes")
else:
    print("No")

('Ajay', 32, 'Hyderabad')
Yes

In [11]:
mytuple = ('a','p','p','l','e')

In [12]:

@sumanchabri8607
1 day ago
24 percent CAGR is very difficult..
I think he was lucky for covid..
I will follow him definitely if he makes same len(mytuple)

5

In [14]:
mytuple.count('p')

2

In [15]:
mytuple.index('p')

1

In [16]:
my_list = list(mytuple)
my_list

['a', 'p', 'p', 'l', 'e']

### Tuple Unpacking

In [1]:
my_tuple = "Ajay", 32, "Hyderabad"

name, age,city = my_tuple
print(f"{name} is {age} years old and lives in {city}")

Ajay is 32 years old and lives in Hyderabad

In [2]:
type(my_tuple)

tuple

### Size

In [2]:
import sys

my_list = [0,1,2,"hello",True]
my_tuple = (0,1,2,"hello",True)

print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

120 bytes
80 bytes

### Time

In [5]:
import timeit

print(timeit.timeit(stmt="[0,1,2,3,4,5]", number=10000000))
print(timeit.timeit(stmt="(0,1,2,3,4,5)", number=10000000))

0.3347174520022236
0.046644034002383705